In [1]:
import pandas as pd
import numpy as np

In [6]:
player2019 = pd.read_csv("phs_2019_stage_1.csv")

In [7]:
player2019.head()

,pelstart_time,match_id,stage,map_type,map_name,player,team,stat_name,hero,stat_amount
0,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,All Damage Done,All Heroes,14845.193400
1,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Assists,All Heroes,13.000000
2,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Average Time Alive,All Heroes,87.623574
3,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Barrier Damage Done,All Heroes,5674.344475
4,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Damage - Quick Melee,All Heroes,78.000000

In [18]:
herotime = player2019.loc[player2019["stat_name"] == "Time Played"]
herotime = herotime.loc[player2019["hero"] != "All Heroes"]
herotime.head()

,pelstart_time,match_id,stage,map_type,map_name,player,team,stat_name,hero,stat_amount
66,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Bdosin,London Spitfire,Time Played,Zenyatta,655.895890
120,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Birdring,London Spitfire,Time Played,McCree,67.162571
162,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Birdring,London Spitfire,Time Played,Zarya,588.733318
234,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Fury,London Spitfire,Time Played,D.Va,650.057055
247,2/15/2019 0:11,21211,Overwatch League Stage 1,CONTROL,Ilios,Fury,London Spitfire,Time Played,Wrecking Ball,5.838835

In [81]:
heroesonly = herotime[["map_name","hero","stat_amount"]]
heroesonly = heroesonly.rename(columns={'stat_amount': 'Time Played'})
heroesonly = heroesonly.groupby(["map_name","hero"]).agg("sum")
heroesonly

                                    Time Played
map_name            hero
Busan               Ana             6838.496569
                    Ashe              46.732387
                    Brigitte       30356.381498
                    D.Va           24539.044112
                    Doomfist          31.136287
                    Lúcio          37144.466185
                    McCree           266.691896
                    Mercy             69.100165
                    Moira           4253.392434
                    Pharah           152.774604
                    Reaper            36.979114
                    Reinhardt      21052.580123
                    Roadhog          828.305453
                    Soldier: 76      308.500047
                    Sombra         14318.588620
                    Tracer          8942.974724
                    Widowmaker      6824.035488
                    Winston         4954.182352
                    Wrecking Ball  11619.475648
                    Zarya          24456.158877
                    Zenyatta       26241.401518
Dorado              Ana             4479.321823
                    Brigitte       36270.589674
                    D.Va           33538.676822
                    Doomfist          22.375670
                    Genji           1184.560452
                    Hanzo           1536.924869
                    Junkrat          123.624635
                    Lúcio          39258.815385
                    McCree           212.154034
...                                         ...
Temple of Anubis    Zenyatta       38116.138540
Volskaya Industries Ana             4445.213439
                    Ashe              37.951054
                    Bastion          169.360659
                    Brigitte       43434.826610
                    D.Va           39802.636610
                    Doomfist         176.186941
                    Genji            159.617614
                    Hanzo            825.441312
                    Junkrat            2.922727
                    Lúcio          45904.258606
                    McCree           208.287421
                    Mei              116.801362
                    Mercy           3407.618763
                    Moira           1080.392546
                    Orisa            167.413187
                    Pharah          2654.279397
                    Reaper           398.125917
                    Reinhardt      31451.714422
                    Roadhog            9.732131
                    Soldier: 76      198.556211
                    Sombra         11702.145893
                    Symmetra          64.239815
                    Torbjörn         164.487194
                    Tracer          4148.366932
                    Widowmaker      3526.455106
                    Winston        10854.175894
                    Wrecking Ball   7520.866826
                    Zarya          41402.603890
                    Zenyatta       42969.613878

[315 rows x 1 columns]

In [83]:
heroesonly["Most Played"] = heroesonly.groupby(["map_name"])["Time Played"].rank("dense", ascending = False)
heroesonly = heroesonly.sort_values(["map_name", "Most Played"],ascending = True)
heroesonly = heroesonly.loc[heroesonly["Most Played"]<= 6]
heroesonly

                                 Time Played  Most Played
map_name             hero
Busan                Lúcio      37144.466185          1.0
                     Brigitte   30356.381498          2.0
                     Zenyatta   26241.401518          3.0
                     D.Va       24539.044112          4.0
                     Zarya      24456.158877          5.0
                     Reinhardt  21052.580123          6.0
Dorado               Lúcio      39258.815385          1.0
                     Zenyatta   37952.507945          2.0
                     Brigitte   36270.589674          3.0
                     Zarya      35891.990726          4.0
                     Reinhardt  34552.643460          5.0
                     D.Va       33538.676822          6.0
Hollywood            Zenyatta   39391.158325          1.0
                     Lúcio      39249.981970          2.0
                     Brigitte   39128.348885          3.0
                     Zarya      38943.391458          4.0
                     Reinhardt  37237.079706          5.0
                     D.Va       35760.468984          6.0
Horizon Lunar Colony Lúcio      33744.939574          1.0
                     D.Va       33742.793666          2.0
                     Zenyatta   33081.998252          3.0
                     Brigitte   31874.301499          4.0
                     Zarya      31421.801335          5.0
                     Reinhardt  25676.073678          6.0
Ilios                Lúcio      42141.999956          1.0
                     D.Va       41408.376649          2.0
                     Zenyatta   40846.500106          3.0
                     Brigitte   40060.833870          4.0
                     Zarya      37302.352249          5.0
                     Reinhardt  21753.154091          6.0
...                                      ...          ...
Numbani              D.Va       42376.938109          1.0
                     Lúcio      42366.276412          2.0
                     Zenyatta   41705.468241          3.0
                     Brigitte   41560.322506          4.0
                     Zarya      40863.364950          5.0
                     Reinhardt  32027.907755          6.0
Rialto               Lúcio      43489.768164          1.0
                     Zenyatta   42831.923061          2.0
                     Zarya      42453.192029          3.0
                     Brigitte   41779.577749          4.0
                     D.Va       40691.542529          5.0
                     Reinhardt  40094.725502          6.0
Route 66             Lúcio      40394.011355          1.0
                     Brigitte   40304.453653          2.0
                     Zarya      39044.044429          3.0
                     Reinhardt  38763.682611          4.0
                     Zenyatta   37895.489568          5.0
                     D.Va       31394.149020          6.0
Temple of Anubis     D.Va       39273.468263          1.0
                     Lúcio      38462.638851          2.0
                     Zenyatta   38116.138540          3.0
                     Brigitte   37092.124190          4.0
                     Zarya      37033.939843          5.0
                     Reinhardt  31645.304095          6.0
Volskaya Industries  Lúcio      45904.258606          1.0
                     Brigitte   43434.826610          2.0
                     Zenyatta   42969.613878          3.0
                     Zarya      41402.603890          4.0
                     D.Va       39802.636610          5.0
                     Reinhardt  31451.714422          6.0

[72 rows x 2 columns]